openai==1.63.2
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
faiss-cpu==1.7.4
langchain==0.1.20
langchain_community==0.0.38
langchain_experimental==0.0.58
unstructured[all-docs]==0.11.2
langchain-nvidia-ai-endpoints==0.1.7
python-dotenv==1.1.1
langsmith==0.1.147