openai
fastapi
uvicorn[standard]
python-multipart
faiss-cpu
langchain
langchain_community
langchain_experimental
unstructured[all-docs]
langchain-nvidia-ai-endpoints
python-dotenv
langsmith
docling
pgvector
psycopg2-binary